<h1>Cocktails</h1>



<div class="cards-wrapper">
  <% @cocktails.each do |cocktail| %>
    <div class="card-wrapper">
      <div class="card-#{cocktail.index + 1} card-object card-object-hf"><a class="face front" href="#">
          <div class="title-wrapper">
            <div class="title"><%= cocktail.name %></div>
          </div>
      </div>
    </div>
  <% end %>
</div>
